/* YourComponent.css */
.filters {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .filters h4 {
    margin: 10px 0;
  }
  
  .filters .d-flex {
    margin-bottom: 10px;
  }
  
  .filters .d-flex.flex-column {
    display: flex;
    flex-direction: column;
  }
  
  /* Adjust the width and flexShrink properties to your needs */
  .filters-box {
    width: 30%;
    flex-shrink: 0;
  }
  